# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - main
  - pool: hosted
          
variables:
    tf_version: "latest" # what version of terraform should be used
    tf_state_rg: "rg-tfstate" # name of the resource group to create/use for the terraform state file
    # tz_state_location: "westeurope" # location of the resource group to create/use for the terraform state file
    tf_state_sku: "Standard_RAGRS" # sku to use when creating the storeage account to create/use for the terraform state file
    tf_state_sa_name: "tfstatedemo20221006" # name of of the storage account to create/use for the terraform state file
    tf_state_container_name: "tfstate" # name of of the container to create/use for the terraform state file
    tf_environment: "dev" # enviroment name, used for the statefile name
    cost_increase_alert_percentage: 50 # if the difference in costs is higher than x% then you will need to manually validate the deployment
  
stages:
  - stage: "validateTerraform"
    displayName: "Terraform - Validate"
    jobs:
      - job: "TerraformJobs"
        displayName: "Terraform > install, init and validate"
        continueOnError: false
          - task: TerraformCLI@0
            inputs:
              command: "init"
              backendType: "azurerm"
              backendServiceArm: "$(SUBSCRIPTION_NAME)"
              ensureBackend: true
              backendAzureRmResourceGroupName: "$(tf_state_rg)"
              backendAzureRmResourceGroupLocation: "$(tz_state_location)"
              backendAzureRmStorageAccountName: "$(tf_state_sa_name)"
              backendAzureRmStorageAccountSku: "$(tf_state_sku)"
              backendAzureRmContainerName: $(tf_state_container_name)
              backendAzureRmKey: "$(tf_environment).terraform.tstate"
              workingDirectory: "$(System.DefaultWorkingDirectory)/customer_example"
            displayName: "Run > terraform init"

          - task: TerraformCLI@0
            inputs:
              command: "validate"
              environmentServiceName: "$(SUBSCRIPTION_NAME)"
            displayName: "Run > terraform validate"

  